/* Estilos Gerais */
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
}

.limita-secao {
    max-width: 1024px;
    margin: 0 auto;
}

main {
    color: #0000008c;
    margin-bottom: 60px;
}

.secao-destaque {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.secao-destaque h2, .secao-titulo h3 {
    margin: 0;
}

/* Início CSS Topo */
.topo {
    background-color: #00cad1;
    width: 100%;
}
.topo-itens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 60px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo { /* faz alterações no link que envolve a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.topo-logo { 
    height: 60px; /* Altera a altura da imagem em si */
}

.links-topo {
    display: flex;
}

.links-topo a {
    padding: 10px;
    color: #fff;
    font-weight: 600;
}

.links-topo a:hover {
    color: #004b4c;
}

/* Fim CSS topo */

/* Estilização do conteúdo do main */
.imagem-fundo {
    position: relative;
    background-image: url('/assets/recepcao.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.secao-titulo {
    height: 100%;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.secao-titulo h1 {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 38px;
    margin: 0;
}

#sobre, #especialidade, #contato {
    padding: 40px 20px 0;
}

.secao-lista {
    display: flex;
    justify-content: center;
    align-items: center;
}

.secao-lista h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.secao-lista img {
    height: 250px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

figure {
    box-shadow: 0px 1px 10px rgb(0 0 0 / 50%);
    border-radius: 3px;
    margin: 20px;
    width: calc(100% / 3 - 40px);
}

.cards img {
    width: 100%;
}

figcaption {
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.button-horarios {
    text-align: center;
    margin-top: 20px;
}

.button-horarios a {
    background-color: #00cad1;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
}

/* Início CSS Rodapé */
footer {
    background-color: #0d6e71;
    color: #fff;
    padding: 20px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .imagem-fundo {
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .imagem-fundo {
        height: 300px;
    }

    .secao-titulo h1 {
        font-size: 30px;
    }

    .secao-lista img {
        display: none;
    }

    .cards {
        justify-content: center;
    }

    figure {
        width: calc(100% / 2 - 40);
    }
}

@media screen and (max-width: 425px) {
    .topo-itens {
        flex-direction: column;
    }

    .topo-titulo {
        padding: 10px 0;
    }

    .links-topo {
        width: 100%;
        border-top: 1px solid #009fa5;
        justify-content: space-around;
    }

    .imagem-fundo {
        height: 200px;
    }

    .secao-titulo h1 {
        font-size: 18px;
    }

    figure {
        width: 100%;
    }
}